/*
*  Layout: 1-column, multi-columns
*/
/*
* variable
*/
/*color*/
.darkgrey {
  color: #575757; }

/*layout*/
.lf, .lfm {
  float: left; }

.rf, .rfm {
  float: right; }

.clf, .full-page-layout:after, .full-page-layout:before, .standard-page-layout:after, #sub-nav ul:after, #sub-nav div.me-nav:after, .container:after, .standard-page-layout:before, #sub-nav ul:before, #sub-nav div.me-nav:before, .container:before, .home .homeblocks .phin-content > div:after, .home .homeblocks .phin-content > div:before {
  content: " ";
  display: block;
  clear: both; }

.fullline {
  border-top: 1px solid #ccc; }

.linkactive, .controller:hover {
  color: #eaa011;
  transition: all 0.8s; }

.lfm {
  margin-right: 30px; }

.rfm {
  margin-left: 30px; }

.hrm {
  border: 1px dashed #ccc;
  margin-bottom: 40px; }

/*font*/
.navHel, #main-nav ul li a {
  font-family: "HelveticaNeueLTStd-Roman";
  text-transform: uppercase; }

/*
* page global settings
*/
.full-page-layout {
  width: 100%; }

.standard-page-layout, #sub-nav ul, #sub-nav div.me-nav, .container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%; }

.clearfix {
  zoom: 1; }
  .clearfix:after, .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.square-item-array {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  float: left; }

.overlayBg {
  cursor: pointer; }

.controller {
  position: fixed;
  cursor: pointer;
  z-index: 99999;
  font-size: 60px;
  top: 50%;
  color: #888; }
  .controller.prev {
    left: 8%; }
  .controller.next {
    right: 8%; }
  .controller.close {
    font-size: 30px;
    z-index: 999999;
    display: none; }

.error {
  color: #FF3636;
  letter-spacing: 1px; }

.active-tab {
  color: #eaa011;
  background: #222; }

.active-content {
  max-height: 300px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.inactive-content {
  max-height: 0px;
  opacity: 1;
  overflow: hidden;
  padding: 0 !important;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.jplayer-container {
  overflow: hidden;
  position: relative;
  min-height: 90px;
  width: 100%;
  margin: 0 auto;
  background: #343434; }
  .jplayer-container #jp_container_1 {
    background: none;
    border: none; }
    .jplayer-container #jp_container_1 .jp-interface {
      height: 90px;
      background: none; }
      .jplayer-container #jp_container_1 .jp-interface ul.jp-controls {
        padding: 0px;
        width: 45px;
        height: 45px;
        float: left; }
        .jplayer-container #jp_container_1 .jp-interface ul.jp-controls li {
          height: 0px;
          list-style: none; }
          .jplayer-container #jp_container_1 .jp-interface ul.jp-controls li a {
            background: url("global/spirits/jplayer.png") no-repeat 4px -97px;
            display: block;
            height: 20px;
            width: 20px;
            top: 9px;
            left: 10px;
            position: absolute;
            text-indent: -99999px; }
            .jplayer-container #jp_container_1 .jp-interface ul.jp-controls li a.jp-pause {
              background-position: 4px -119px; }
      .jplayer-container #jp_container_1 .jp-interface .jp-progress {
        width: 100%;
        height: 5px;
        clear: both; }
        .jplayer-container #jp_container_1 .jp-interface .jp-progress .jp-seek-bar {
          overflow: hidden;
          cursor: pointer;
          height: 100%;
          width: 100%;
          background: #000;
          border: 1px solid #333;
          border-left: none;
          border-right: none; }
          .jplayer-container #jp_container_1 .jp-interface .jp-progress .jp-seek-bar .jp-play-bar {
            height: 100%;
            transition: all 0.3s;
            box-shadow: 0 0 13px 4px #eaa011;
            background: none repeat scroll 0 0 #eaa011; }
      .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars {
        float: left;
        height: 45px;
        width: 94px;
        cursor: pointer;
        box-sizing: border-box;
        padding-top: 11px; }
        .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars > div {
          float: left; }
        .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars .volume-button, .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars .volume-amp-button {
          width: 10px;
          height: 20px;
          background: url("global/spirits/jplayer.png") no-repeat;
          display: block !important; }
        .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars .jp-volume-bar {
          margin-left: 5px;
          margin-top: 5px;
          position: static;
          width: 0px;
          height: 8px;
          background: #000;
          border: 1px solid #333;
          overflow: hidden; }
        .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars .jp-volume-bar-value {
          transition: all 0.3s;
          width: 0px;
          display: block;
          height: 8px;
          background: #eaa011; }
        .jplayer-container #jp_container_1 .jp-interface .jp-volume-bars .volume-amp-button {
          background-position: 0px -40px;
          margin-left: 3px;
          width: 18px; }
      .jplayer-container #jp_container_1 .jp-interface .jp-time-holder {
        float: left;
        height: 45px;
        color: #fff;
        line-height: 45px; }
        .jplayer-container #jp_container_1 .jp-interface .jp-time-holder .jp-duration {
          width: auto;
          font-family: "Eurostile";
          font-style: normal;
          display: none; }
        .jplayer-container #jp_container_1 .jp-interface .jp-time-holder .jp-current-time {
          width: auto;
          font-family: "Eurostile";
          font-style: normal;
          margin-right: 5px; }
      .jplayer-container #jp_container_1 .jp-interface .jp-playlist-btn {
        color: #fff;
        height: 45px;
        line-height: 45px;
        margin-left: 15px;
        padding: 0px 15px;
        float: left;
        cursor: pointer; }
        .jplayer-container #jp_container_1 .jp-interface .jp-playlist-btn span {
          margin-right: 5px; }
        .jplayer-container #jp_container_1 .jp-interface .jp-playlist-btn:hover {
          background: #eaa011;
          box-shadow: 0px 0px 11px 0px #000; }
  .jplayer-container .playlist {
    display: none;
    background: #343434; }
    .jplayer-container .playlist li {
      padding: 15px 20px;
      list-style: none;
      border-color: #222;
      border-style: solid;
      border-width: 0 0 1px;
      color: #fff;
      cursor: pointer;
      text-align: left; }
      .jplayer-container .playlist li:hover {
        box-shadow: 0px 0px 11px -5px #eaa011; }
      .jplayer-container .playlist li .artist {
        font-size: 15px;
        margin-left: 50px; }
      .jplayer-container .playlist li.current-music {
        box-shadow: 0 0 11px -5px #eaa011; }
        .jplayer-container .playlist li.current-music span {
          color: #eaa011; }

.pure-button {
  background: #000;
  color: #ccc; }
  .pure-button:hover {
    color: #eaa011; }
  .pure-button a {
    color: #ccc; }

.jspVerticalBar .jspTrack {
  background: #efefef; }
  .jspVerticalBar .jspTrack .jspDrag {
    background: #eaa011; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  /*position : relative;*/ }

.container {
  /*padding-bottom:260px;  Height of the footer element */
  flex: 1; }

#footer {
  /*height:220px;
  position:absolute;
  bottom:-89px;
  left:0;*/ }

menu, ol, ul {
  padding: 0px;
  margin: 0px; }

a {
  text-decoration: none; }

img {
  display: block; }

h3 {
  margin: 0px; }

#main-nav ul li {
  display: inline-block; }
  #main-nav ul li a {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    display: block;
    height: 89px;
    line-height: 89px;
    color: #aeaeae; }
    #main-nav ul li a:hover {
      color: #eaa011; }

#sub-nav {
  display: none;
  height: 220px;
  position: relative;
  z-index: 99; }
  #sub-nav div {
    height: 220px;
    width: 100% !important; }
  #sub-nav ul {
    display: block;
    margin-top: 40px;
    padding-left: 20px; }
    #sub-nav ul li {
      position: relative;
      float: left; }
      #sub-nav ul li:last-child {
        margin-right: 0px; }
      #sub-nav ul li a {
        position: absolute;
        width: 140px;
        height: 140px;
        left: 0px;
        top: 0px;
        text-align: center;
        line-height: 140px;
        bottom: 0px;
        font-family: "jenna_sueregular";
        color: #fff;
        font-size: 30px; }

#top-header {
  background: #000;
  position: relative;
  z-index: 99; }
  #top-header #header {
    font-family: "moltorsregular";
    background: #000; }

.sub-nav-bg {
  display: none;
  top: 89px;
  height: 220px;
  opacity: 0.6;
  position: absolute;
  overflow: hidden;
  z-index: 99; }
  .sub-nav-bg img {
    width: 100%;
    position: absolute; }
    .sub-nav-bg img.slide-0 {
      top: -30px; }
    .sub-nav-bg img.slide-1 {
      top: -140px; }
    .sub-nav-bg img.slide-2 {
      top: -160px; }
    .sub-nav-bg img.slide-3 {
      top: -310px; }

#footer {
  background: #343434;
  /*height : 89px;*/
  text-align: center;
  position: relative;
  z-index: 9;
  color: #aeaeae;
  font-size: 15px; }
  #footer small {
    line-height: 89px; }

.story-open {
  overflow: hidden; }

#sub-nav .video-nav li {
  width: 480px; }
  #sub-nav .video-nav li img {
    width: 220px;
    float: left; }
  #sub-nav .video-nav li > span {
    float: left;
    margin-left: 12px;
    height: 147px;
    position: relative;
    width: 230px; }
    #sub-nav .video-nav li > span h3 {
      margin: 0px;
      font-family: HelveticaNeueLTPro35Thin;
      font-weight: 100;
      font-size: 16px;
      text-transform: uppercase; }
    #sub-nav .video-nav li > span div {
      height: auto;
      margin: 8px 0 0;
      line-height: 16px;
      font-size: 12px;
      font-family: GothamBook; }
      #sub-nav .video-nav li > span div.button {
        position: absolute;
        bottom: 0px; }
        #sub-nav .video-nav li > span div.button button.play {
          width: 100px;
          padding: 7px 0; }
#sub-nav .expedition-nav {
  padding-left: 0px;
  overflow: hidden; }
  #sub-nav .expedition-nav li {
    float: none;
    text-align: right;
    padding: 5px 0; }
    #sub-nav .expedition-nav li a {
      color: #575757;
      font-family: HelveticaNeueLTPro35Thin;
      font-weight: 100;
      position: relative;
      line-height: 29px;
      height: auto;
      padding-left: 0px;
      transition: all 0.4s; }
      #sub-nav .expedition-nav li a:hover {
        color: #eaa011;
        transition: all 0.4s; }
#sub-nav .me-nav {
  padding-left: 20px;
  padding-top: 40px;
  line-height: 21px; }

.container {
  padding-left: 20px;
  padding-top: 40px; }
  .container.photography {
    padding-top: 20px;
    padding-bottom: 40px; }
    .container.photography img {
      cursor: pointer;
      margin-top: 20px; }
  .container.video {
    margin-bottom: 40px; }
    .container.video iframe {
      opacity: 0;
      transition: opacity, 2s; }
  .container.me #menu li {
    display: inline-block; }
  .container.me #content {
    padding: 20px 20px 20px 0; }
    .container.me #content address, .container.me #content p {
      color: #656565;
      font-family: "ProximaNovaRegular";
      line-height: 18px; }
      .container.me #content address a, .container.me #content p a {
        color: #aaa; }
        .container.me #content address a:hover, .container.me #content p a:hover {
          color: #787878; }
    .container.me #content h3 {
      padding-bottom: 7px;
      margin-bottom: 7px;
      border-bottom: 1px solid #ccc; }
    .container.me #content .resume a {
      color: #aaa; }
      .container.me #content .resume a:hover {
        color: #787878; }
    .container.me #content .resume p {
      margin: 0px; }
    .container.me #content .resume ul {
      padding-left: 15px;
      color: #656565;
      font-family: "ProximaNovaRegular";
      line-height: 18px; }
    .container.me #content .resume h6 {
      margin: 0px;
      font-weight: 400;
      letter-spacing: 0.5px; }
    .container.me #content .contact textarea {
      width: 100%;
      height: 300px; }
    .container.me #content .contact .send {
      position: relative;
      margin-top: 13px;
      width: 75px;
      height: 17px; }

#gmap {
  height: 600px; }
  #gmap .map-info {
    margin: 19px 0 19px 19px; }
    #gmap .map-info .map-info-details {
      width: 320px; }
      #gmap .map-info .map-info-details .map-info-header {
        border-bottom: 1px solid #AAAAAA;
        position: relative; }
        #gmap .map-info .map-info-details .map-info-header:after {
          content: " ";
          clear: both;
          display: block; }
        #gmap .map-info .map-info-details .map-info-header .map-info-title, #gmap .map-info .map-info-details .map-info-header .map-info-place {
          float: left;
          font-family: Helvetica;
          font-size: 18px;
          margin-bottom: 5px;
          margin-top: 10px;
          text-transform: uppercase;
          max-width: 190px; }
        #gmap .map-info .map-info-details .map-info-header .map-info-place {
          float: right;
          font-size: 10px;
          line-height: 20px;
          text-transform: none;
          position: absolute;
          bottom: 0px;
          right: 0px; }
      #gmap .map-info .map-info-details .map-info-excerpt {
        margin: 4px 0;
        font-family: Trebuchet MS; }

.home .headline {
  font-family: HelveticaNeueLTPro35Thin;
  text-align: center;
  padding: 0px;
  overflow: hidden;
  background: #333;
  transition: all 1.8s;
  color: #eaa011;
  background: url("../images/default/dark_brick_wall.png"); }
  .home .headline.onair {
    color: #fff !important; }
    .home .headline.onair a {
      display: block;
      margin: 40px auto;
      opacity: 0.7;
      width: 80px; }
      .home .headline.onair a:hover {
        opacity: 1; }
  .home .headline > * {
    text-shadow: 1px 1px 1px #000; }
  .home .headline h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 0px;
    padding-top: 80px; }
  .home .headline .excerpt {
    color: #575757;
    font-family: futura;
    line-height: 24px;
    margin: 0 auto;
    width: 368px; }
  .home .headline .ticker ul {
    font-family: HelveticaNeueLTPro35Thin;
    font-size: 25px;
    margin-top: 24px;
    color: #696969; }
    .home .headline .ticker ul li {
      list-style: none;
      display: inline-block;
      margin: 0 10px; }
      .home .headline .ticker ul li.d {
        font-size: 60px;
        color: #ccc;
        box-shadow: 0 0 6px 1px #000 inset;
        line-height: 100px;
        margin-bottom: 30px;
        padding: 15px 35px 0; }
  .home .headline p {
    margin-bottom: 80px; }
  .home .headline .headline-movie {
    height: 480px;
    overflow: hidden;
    position: relative;
    z-index: 9; }
    .home .headline .headline-movie video {
      width: 100%;
      transform: translateY(-15%);
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1; }
.home .story {
  background: #fff;
  position: relative;
  z-index: 9; }
  .home .story ul li {
    padding: 20px;
    float: left;
    color: #000;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase; }
    .home .story ul li:hover {
      color: #eaa011; }
    .home .story ul li.active-tab {
      color: #eaa011;
      background: none; }
  .home .story .story-content .story-listitem-container {
    padding: 50px 0 0;
    border-top: 1px solid #ccc;
    /*.story-telling{
    	display : none;
    	padding-top : 20px;
    	padding-bottom : 50px;
    	box-shadow : 0 0 6px -2px #000 inset;
    }*/ }
    .home .story .story-content .story-listitem-container .story-listitem {
      padding-bottom: 50px; }
      .home .story .story-content .story-listitem-container .story-listitem > * {
        float: left; }
      .home .story .story-content .story-listitem-container .story-listitem .story-item-img {
        box-shadow: 0 0 2px 0 #000;
        height: 200px;
        max-width: 300px;
        width: 100%; }
      .home .story .story-content .story-listitem-container .story-listitem .story-item-title {
        margin-bottom: 20px;
        text-transform: uppercase; }
      .home .story .story-content .story-listitem-container .story-listitem .story-item-detial {
        margin-left: 30px;
        height: 200px;
        min-width: 320px;
        position: relative;
        width: 50%;
        max-width: 550px; }
      .home .story .story-content .story-listitem-container .story-listitem .story-item-excerpt {
        box-shadow: 0 0 5px -4px #000 inset;
        height: 70px;
        padding: 20px; }
  .home .story .story-content .pure-button {
    position: absolute;
    bottom: 0px; }
.home .homeblocks {
  background: none;
  position: relative;
  transition: all 1.5s;
  border-top: 1px solid #ccc; }
  .home .homeblocks ul {
    text-align: center;
    display: block;
    background: black;
    transition: all 1.5s;
    position: relative;
    z-index: 1; }
    .home .homeblocks ul li {
      cursor: pointer;
      display: inline-block;
      font-family: verdana;
      height: 14px;
      line-height: 19px;
      padding: 20px 60px;
      text-align: center;
      text-transform: capitalize;
      background: #efefef; }
      .home .homeblocks ul li.active {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        border-top: none; }
  .home .homeblocks .phin-content {
    position: relative;
    top: -1px;
    z-index: 0;
    clear: both;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px; }
    .home .homeblocks .phin-content > div {
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
      transition: all 0.5s; }
      .home .homeblocks .phin-content > div .phin {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        margin-left: 20px;
        margin-right: 20px; }
        .home .homeblocks .phin-content > div .phin:last-child {
          border-bottom: none; }
        .home .homeblocks .phin-content > div .phin h4 {
          float: left;
          font-weight: 100;
          font-family: futura;
          letter-spacing: 1.5px;
          text-transform: uppercase; }
        .home .homeblocks .phin-content > div .phin .coordinate {
          float: right;
          margin: 1.33em 0;
          color: #888;
          font-size: 12px;
          line-height: 33px;
          text-transform: capitalize; }
        .home .homeblocks .phin-content > div .phin .img {
          clear: both;
          margin: 0 auto;
          margin-bottom: 15px;
          max-width: 960px;
          width: 100%;
          position: relative; }
          .home .homeblocks .phin-content > div .phin .img span {
            border-color: #fff #000 #fff #fff;
            border-style: solid;
            border-width: 12px;
            height: 0;
            width: 0;
            top: 55px;
            position: absolute;
            text-indent: -9999px;
            cursor: pointer;
            opacity: 0.5; }
            .home .homeblocks .phin-content > div .phin .img span.next {
              border-color: #fff #fff #fff #000;
              right: -37px; }
            .home .homeblocks .phin-content > div .phin .img span.prev {
              left: -37px; }
          .home .homeblocks .phin-content > div .phin .img > div {
            position: relative;
            left: -5px; }
            .home .homeblocks .phin-content > div .phin .img > div img {
              height: 148px; }
    .home .homeblocks .phin-content > div.active {
      display: block; }
    .home .homeblocks .phin-content > div.inactive {
      display: none; }
.home .story-telling {
  position: fixed;
  height: 100%;
  background: white;
  left: 0px;
  top: 0px;
  display: none;
  color: #000;
  z-index: 9; }
  .home .story-telling .story-top {
    width: 100%;
    font-size: 60px;
    background: #000;
    padding: 40px 60px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: #fff; }
    .home .story-telling .story-top .story-header {
      float: left; }
  .home .story-telling .story-player {
    float: left; }
  .home .story-telling .close-btn {
    float: right;
    cursor: pointer;
    line-height: 70px; }
  .home .story-telling .story-telling-gallery {
    clear: both; }
  .home .story-telling .story-telling-content {
    line-height: 30px;
    width: 100% !important;
    height: 600px;
    overflow: auto; }
    .home .story-telling .story-telling-content .jspContainer {
      width: 100% !important; }
    .home .story-telling .story-telling-content .story-telling-padding {
      padding: 40px 60px; }

.chart rect {
  stroke: white;
  fill: steelblue; }

/*animate*/
#top-header #header {
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  width: 254px;
  background: #000;
  color: #575757; }

.controller {
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

@media screen and (max-width: 1109px) {
  .headline.onair > div {
    transition: all 1.5s;
    background-size: auto 100% !important; }
    .headline.onair > div .excerpt {
      transition: all 1.5s;
      background: rgba(255, 255, 255, 0.6);
      padding: 20px; } }
@media screen and (min-width: 0px) and (max-width: 980px) {
  #sub-nav .video-nav li {
    margin-right: 20px;
    top: -20px;
    width: 220px;
    height: 192px; }
    #sub-nav .video-nav li span {
      margin-left: 0px;
      margin-top: 12px;
      text-align: center;
      width: 220px; }
      #sub-nav .video-nav li span div {
        display: none; }

  .video iframe {
    width: 95% !important; }

  .home .story .story-content .story-listitem-container {
    box-sizing: border-box; } }
@media screen and (min-width: 0px) and (max-width: 952px) {
  nav#main-nav {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    margin-right: 20px; }

  .video iframe {
    height: 498px !important; } }
@media screen and (min-width: 0px) and (max-width: 940px) {
  #top-header #header {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    text-indent: 20px; }

  .video iframe {
    height: 492px !important; } }
@media screen and (min-width: 0px) and (max-width: 824px) {
  #sub-nav, .sub-nav-bg {
    display: none !important; }

  .container.video #video-mobile iframe {
    opacity: 1;
    height: 430px; } }
@media screen and (min-width: 0px) and (max-width: 810px) {
  #top-header #header {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    width: 100%;
    background: #000000;
    color: #aeaeae; }

  nav#main-nav {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    float: none;
    clear: both;
    width: 100%;
    text-align: left; }
    nav#main-nav ul {
      background: #575757; }
      nav#main-nav ul li a {
        color: #aeaeae;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #343434; }
        nav#main-nav ul li a:last-child {
          padding-right: 20px; }

  .controller {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    font-size: 30px;
    top: 0px;
    color: #888; }
    .controller.prev {
      left: 0px; }
    .controller.next {
      right: 0px; }
    .controller.close {
      left: 46%; }

  img.img {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    left: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    top: 40px !important; }

  .video iframe {
    height: 365px !important; }

  .home .story .story-content .story-listitem-container {
    padding-left: 20px; } }
@media screen and (min-width: 0px) and (max-width: 530px) {
  nav#main-nav {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; }
    nav#main-nav ul li {
      display: block;
      border-bottom: 1px solid #454545; }

  .fullline {
    display: none; }

  .video iframe {
    height: 200px !important; } }
@media screen and (max-width: 433px) {
  .home .homeblocks ul.phin-tab li {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding: 20px 0;
    border-radius: 0px;
    width: 100%;
    border: none; }

  .home .headline .excerpt {
    width: 70%; }

  .home .headline.onair a {
    margin-top: 0px;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    width: 100%; }
    .home .headline.onair a .pure-button {
      border-radius: none;
      width: 70%;
      padding: 0px 20px 20px;
      box-sizing: content-box; }

  nav#main-nav {
    margin-right: 0px; }

  .home .story ul li {
    width: 100%;
    text-align: center;
    box-sizing: border-box; }

  .home .story .story-content .story-listitem-container .story-listitem .story-item-detial {
    min-width: 300px;
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media screen and (max-width: 320px) {
  .home .story .story-content .story-listitem-container {
    padding: 0px; }

  .home .story .story-content .story-listitem-container .story-listitem .story-item-img {
    max-width: 100%; }
    .home .story .story-content .story-listitem-container .story-listitem .story-item-img img {
      width: 100%; }

  .home .story .story-content .story-listitem-container .story-listitem .story-item-detial {
    width: 100%; } }

/*# sourceMappingURL=app.css.map */
