.jplayer-container{
		overflow:hidden;
		position:relative;
		min-height : 90px;
		width : 100%;
		margin : 0 auto;
		background : $dark;
		#jp_container_1{
			background:none;
			border:none;
			.jp-interface{
				height:90px;
				background:none;
				ul.jp-controls{
					padding:0px;
					width:45px;
					height : 45px;
					float : left;
					li{
						height : 0px;
						list-style : none;
						a{
							background:url("global/spirits/jplayer.png") no-repeat 4px -97px;
							display:block;
							height:20px;
							width:20px;
							top : 9px;
							left : 10px;
							position : absolute;
							text-indent : -99999px;
							&.jp-pause{
								background-position:4px -119px;
							}
						}
					}
				}
				.jp-progress{
					width : 100%;
					height : 5px;
					clear : both;
					.jp-seek-bar{
						overflow : hidden;
						cursor : pointer;
						height : 100%;
						width : 100%;
						background:#000;
						border:1px solid #333;
						border-left:none;
						border-right:none;
						.jp-play-bar{
							height : 100%;
							transition : all 0.3s;
							box-shadow: 0 0 13px 4px $orangeyellow;
							background : none repeat scroll 0 0 $orangeyellow;
						}
					}
				}
				.jp-volume-bars{
					float : left;
					height:45px;
					width:94px;
					cursor:pointer;
					box-sizing : border-box;
					padding-top : 11px;
					&>div{
						float:left;
					}
					.volume-button{
						width:10px;
						height:20px;
						background:url("global/spirits/jplayer.png") no-repeat;
						display:block !important;
					}
					.jp-volume-bar{
						margin-left:5px;
						margin-top:5px;
						position:static;
						width:0px;
						height : 8px;
						background:#000;
						border : 1px solid #333;
						overflow : hidden;
					}
					.jp-volume-bar-value{
						transition : all 0.3s;
						width:0px;
						display:block;
						height : 8px;
						background : $orangeyellow;
					}
					.volume-amp-button{
						@extend .volume-button;
						background-position:0px -40px;
						margin-left:3px;
						width:18px;
					}
				}
				.jp-time-holder{
					float : left;
					height : 45px;
					color : #fff;
					line-height : 45px;
					.jp-duration{
						width:auto;
						font-family:"Eurostile";
						font-style:normal;
						display : none;
					}
					.jp-current-time{
						width:auto;
						font-family:"Eurostile";
						font-style:normal;
						margin-right:5px;
					}
				}
				.jp-playlist-btn{
					color : #fff;
					height : 45px;
					line-height : 45px;
					margin-left : 15px;
					padding : 0px 15px;
					float : left;
					cursor : pointer;
					span{
						margin-right : 5px;
					}
					&:hover{
						background : $orangeyellow;
						box-shadow : 0px 0px 11px 0px #000;
					}
				}
			}
		}
		.playlist{
			display : none;
			background : $dark;
			li{
				padding : 15px 20px;
				list-style : none;
				border-color : #222;
				border-style : solid;
				border-width : 0 0 1px;
				color : #fff;
				cursor : pointer;
				text-align : left;
				&:hover{
					box-shadow : 0px 0px 11px -5px $orangeyellow;
				}
				.artist{
					font-size : 15px;
					margin-left : 50px;
				}
				&.current-music{
					box-shadow : 0 0 11px -5px $orangeyellow;
					span{
						color : $orangeyellow;
					}
				}
			}
		}
	}

.pure-button{
	background : #000;
	color : #ccc;
	&:hover{
		color : $orangeyellow
	}
	a{
		color: #ccc;
	}
}

.jspVerticalBar{
	.jspTrack{
		background : #efefef;
		.jspDrag{
			background : $orangeyellow;
		}
	}
}