/*
*  Layout: 1-column, multi-columns
*/
@mixin one-column($width){
	width : $width;
}

@mixin multi-columns($width){
	@include one-column($width);
	float : left;	
}

@mixin n-padding($t,$r,$b,$l){
	padding-top : 10px * $t;
	padding-right : 10px * $r;
	padding-bottom: 10px * $b;
	padding-left : 10px * $l;	
}

@mixin transform($value){
	-webkit-transform : $value;
	-moz-transform : $value;
	-ms-transform : $value;
	-o-transform : $value;
	transform :  $value;
}

@mixin transition($value, $time){
	-webkit-transition : $value $time;
	-moz-transition : $value $time;
	-ms-transition : $value $time;
	-o-transition : $value $time;
	transition :  $value $time;
}

/*
* variable
*/
/*color*/
.darkgrey{color:rgba(87,87,87,1);}$grey:#aeaeae;$orangeyellow:#eaa011;$dark:#343434;$darkgrey:#575757;$textColor:#656565;$linkHoverColor:#787878;$linkColor:#aaa;$errorColor:#FF3636;
/*layout*/
.lf{float:left;}.rf{float:right;}.clf{content:" ";display:block;clear:both;}.fullline{border-top:1px solid #ccc;}.linkactive{color:$orangeyellow;transition:all 0.8s;}.lfm{@extend .lf;margin-right:30px;}.rfm{@extend .rf;margin-left:30px;}.hrm{border:1px dashed #ccc;margin-bottom:40px;}
/*font*/
.navHel{font-family:"HelveticaNeueLTStd-Roman";text-transform:uppercase;}

/*
* page global settings
*/
.full-page-layout{
	width : 100%;
	&:after{
		@extend .clf;
	}
	&:before{
		@extend .clf;
	}	
}
.standard-page-layout{
	max-width : 960px;
	margin : 0 auto;
	width : 100%;
	&:after{
		@extend .clf;
	}
	&:before{
		@extend .clf;
	}	
}
.clearfix{
	&:after, &:before{
		content : "";
		display : table;
	}
	&:after{
		clear : both;
	}
	zoom : 1;
}
.square-item-array{
	width : 140px;
	height : 140px;
	margin-right : 20px;
	float : left;
}
.overlayBg{
	cursor : pointer;
}
.controller{
	position : fixed;
	cursor : pointer;
	z-index : 99999;
	font-size : 60px;
	top : 50%;
	color : #888;
	&:hover {
		@extend .linkactive;
	}
	&.prev{
		left : 8%;	
	}
	&.next{
		right : 8%;
	}
	&.close{
		font-size : 30px;
		z-index : 999999;
		display : none;
	}
}

.error{
	color : $errorColor;
	letter-spacing : 1px;
}

.active-tab{
	color : $orangeyellow;
	background : #222;
}

.active-content{
	max-height : 300px;
	opacity : 1;
	overflow : hidden;
	@include transition(all, 1s);
}

.inactive-content{
	max-height : 0px;
	opacity : 1;
	overflow : hidden;
	padding : 0 !important;
	@include transition(all, 1s);
}

