html,body{
	margin : 0;
	padding : 0;
	height : 100%;
}

#wrapper{
	display : flex;
	min-height : 100%;
	flex-direction : column;
	/*position : relative;*/
}

.container{
	/*padding-bottom:260px;  Height of the footer element */
	flex : 1;
}

#footer{
	/*height:220px;
	position:absolute;
	bottom:-89px;
	left:0;*/
}

menu, ol, ul{
	padding : 0px;
	margin : 0px;
}

a{
	text-decoration : none;
}

img{
	display : block
}

h3{
	margin : 0px;
}