#main-nav ul li{
	display : inline-block;
	a{
		@include n-padding(0,2.5,0,2.5);
		@extend .navHel;
		display : block;
		height : 89px;
		line-height : 89px;
		color : $grey;
		&:hover{
			color : $orangeyellow;
		}
	}
	&:last-child a{
		padding-right : 0px;
	}
}


#sub-nav{
	display : none;
	height : 220px;
	border-top : 1px solid #ccc;
	div{
		height : 220px;
		width : 100% !important;
	}
	ul{
		@extend .standard-page-layout;
		display : block;
		margin-top : 40px;
		padding-left : 20px;
		li{
			position : relative;
			float : left;
			&:last-child{
				margin-right : 0px;
			}
			a{
				position : absolute;
				width : 140px;
				height : 140px;
				left : 0px;
				top : 0px;
				text-align : center;
				line-height: 140px;
				bottom : 0px;
				font-family : "jenna_sueregular";
				color : #fff;
				font-size : 30px;
			}
		}
	}
	div.me-nav{
		@extend .standard-page-layout;
	}
}

#top-header{
	max-width : 940px;
	#header{
		font-family : "moltorsregular";
	}
}
