#sub-nav{
	.video-nav {
		li{
			width : 480px;
			img{
				width : 220px;
				float : left;
			}
			> span{
				float : left;
				margin-left : 12px;
				height : 147px;
				position : relative;
				width : 230px;
				h3{
					margin : 0px;
					font-family : HelveticaNeueLTPro35Thin;
					font-weight : 100;
					font-size : 16px;
					text-transform : uppercase;
				}
				div{
					height : auto;
					margin : 8px 0 0;
					line-height : 16px;
					font-size : 12px;
					font-family : GothamBook;
					&.button{
						position : absolute;
						bottom : 0px;
						button.play{
							width : 100px;
							padding : 7px 0;
						}
					}
				}
			}
		}
	}
	.expedition-nav {
		padding-left : 0px;
		overflow : hidden;
		li{
			float : none;
			text-align : right;
			right: -28px;
			a{
				color : $darkgrey;
				font-family : HelveticaNeueLTPro35Thin;
				font-weight : 100;
				position : relative;
				line-height : 29px;
				height : auto;
				padding-left : 0px;
				transition : all 0.4s;
				&:hover{
					color : $orangeyellow;
					padding-right : 33px;
					transition : all 0.4s;
					
				}
			}
		}
	}
	.me-nav{
		padding-left : 20px;
		padding-top : 40px;
		line-height : 21px;
	}
}


.container{
	&:before{
		@extend .clf
	}
	&:after{
		@extend .clf
	}
	@extend .standard-page-layout;
	padding-left : 20px;
	padding-top : 40px;
	&.photography{
		padding-top : 20px;
		img{
			cursor :pointer;
			margin-top : 20px;
		}
	}
	&.video{
		iframe{
			opacity : 0;
			transition : opacity, 2s;
		}
	}

	&.me #menu{
		li{
			display : inline-block;
		}
	}

	&.me #content{
		padding : 20px 20px 20px 0;
		address, p{
			color : $textColor;
			font-family : "ProximaNovaRegular";
			line-height : 18px;
			a{
				color : $linkColor;
				&:hover{
					color : $linkHoverColor;
				}
			}
		}
		h3{
			padding-bottom : 7px;
			margin-bottom : 7px;
			border-bottom : 1px solid #ccc;
		}
		.resume{
			a{
				color : $linkColor;
				&:hover{
					color : $linkHoverColor;
				}
			}
			p{
				margin : 0px;
			}
			ul{
				padding-left : 15px;
				color : $textColor;
				font-family : "ProximaNovaRegular";
				line-height : 18px;
			}
			h6{
				margin : 0px;
				font-weight : 400;
				letter-spacing : 0.5px;
			}
		}
		.contact{
			textarea{
				width : 100%;
				height : 300px;
			}
			.send{
				position : relative;
				margin-top : 13px;
				width : 75px;
				height : 17px;
			}
		}
	}
}

#gmap{
	height : 600px;
	.map-info{
		margin : 19px 0 19px 19px;
		.map-info-details{
			width: 320px;
			.map-info-header{
				border-bottom: 1px solid #AAAAAA;
				position :relative;
				&:after{
					content : " ";
					clear : both;
					display : block;
				}
				.map-info-title {
					float : left;
				    font-family : Helvetica;
				    font-size : 18px;
				    margin-bottom : 5px;
				    margin-top : 10px;
				    text-transform : uppercase;
				    max-width : 190px;
				}
				.map-info-place{
					@extend .map-info-title;
					float : right;
					font-size : 10px;
					line-height : 20px;
					text-transform : none;
					position : absolute;
					bottom : 0px;
					right : 0px;
				}
			}
			.map-info-excerpt{
				margin : 4px 0;
				font-family : Trebuchet MS;
			}
		}
	}
}

.home{
	.headline{
		font-family : HelveticaNeueLTPro35Thin;
		text-align : center;
		padding:0px;
		height : 0px;
		overflow : hidden;
		/*background : rgba(225,206,159,0.0);*/
		background : #fff;
		transition : all 1.8s;
		&.onair{
			color : #fff !important;
			a{
				display : block;
				margin: 40px auto;
				opacity : 0.7;
				width : 80px;
				&:hover{
					opacity : 1;
				}
			}
		}
		h3{
			font-size : 30px;
			text-transform : uppercase;
			font-weight : 100;
			margin-top : 0px;
			padding-top  :80px;
		}
		.excerpt{
			 color : #575757;
			 font-family : futura;
			 line-height : 24px;
			 margin : 0 auto;
			 width : 368px;
		}
		.ticker{
			ul{
				font-family : HelveticaNeueLTPro35Thin;
				font-size : 25px;
				margin-top: 24px;
				color : #696969;
				li{
					list-style : none;
					display : inline-block;
					margin:0 10px;
					&.d{
						font-size : 60px;
						color : #000;
					}
				}
			}
		}
		p{
			 margin-bottom : 30px;
		}
	}
	.homeblocks{
		background : none;
		position : relative;
		top : -1px;
		transition : all 1.5s;
		ul{
			text-align : center;
			display : block;
			background : rgba(225,206,159,0);
			transition : all 1.5s;
			position : relative;
			z-index : 1;
			li{
				cursor : pointer;
				display : inline-block;
				font-family : verdana;
				height : 14px;
				line-height : 19px;
				padding : 20px 60px;
				text-align : center;
				text-transform : capitalize;
				background : #efefef;
				border-radius : 7px 7px 0 0;
				&.active{
					background : #fff;
					border : 1px solid #ccc;
					border-bottom : 1px solid #fff;
				}
			}
		}
		.phin-content{
			position : relative;
			top : -1px;
			z-index : 0;
			clear : both;
			border-top : 1px solid #ccc;
			padding-top : 20px;
			padding-bottom : 20px;
			&>div:after{
				@extend .clf;
			}
			&>div:before{
				@extend .clf;
			}
			&>div{
				max-width : 960px;
				width : 100%;
				margin : 0 auto;
				transition : all 0.5s;
				.phin{
					padding-bottom : 20px;
					border-bottom : 1px solid #ccc;
					margin-left  : 20px;
					margin-right : 20px;
					&:last-child{
						border-bottom : none;
					}
					h4{
						float : left;
						font-weight : 100;
						font-family : futura;
						letter-spacing : 1.5px;
						text-transform : uppercase;
					}
					.coordinate{
						float : right;
						margin : 1.33em 0;
						color : #888;
						font-size : 12px;
						line-height : 33px;
						text-transform : capitalize;
					}
					.img{
						clear : both;
						margin : 0 auto;
						margin-bottom : 15px;
						max-width : 960px;
						width : 100%;
						position : relative;
						span{
							border-color : #fff #000 #fff #fff;
							border-style : solid;
							border-width : 12px;
							height : 0;
							width : 0;
							top : 55px;
							position : absolute;
							text-indent : -9999px;
							cursor : pointer;
							opacity : 0.5;
							&.next{
								border-color : #fff #fff #fff #000;
								right : -37px;
							}
							&.prev{
								left : -37px;
							}
						}
						> div{
							position : relative;
							left : -5px;
							img{
								height : 148px ;
							}
						}
					}
				}
			}
			&>div.active{
				display : block;
			}
			&>div.inactive{
				display : none;
			}	
		}
	}
}