.story-open{
	overflow : hidden;
}

#sub-nav{
	.video-nav {
		li{
			width : 480px;
			img{
				width : 220px;
				float : left;
			}
			> span{
				float : left;
				margin-left : 12px;
				height : 147px;
				position : relative;
				width : 230px;
				h3{
					margin : 0px;
					font-family : HelveticaNeueLTPro35Thin;
					font-weight : 100;
					font-size : 16px;
					text-transform : uppercase;
				}
				div{
					height : auto;
					margin : 8px 0 0;
					line-height : 16px;
					font-size : 12px;
					font-family : GothamBook;
					&.button{
						position : absolute;
						bottom : 0px;
						button.play{
							width : 100px;
							padding : 7px 0;
						}
					}
				}
			}
		}
	}
	.expedition-nav {
		padding-left : 0px;
		overflow : hidden;
		li{
			float : none;
			text-align : right;
			padding: 5px 0;
			a{
				color : $darkgrey;
				font-family : HelveticaNeueLTPro35Thin;
				font-weight : 100;
				position : relative;
				line-height : 29px;
				height : auto;
				padding-left : 0px;
				transition : all 0.4s;
				&:hover{
					color : $orangeyellow;
					transition : all 0.4s;
				}
			}
		}
	}
	.me-nav{
		padding-left : 20px;
		padding-top : 40px;
		line-height : 21px;
	}
}


.container{
	&:before{
		@extend .clf
	}
	&:after{
		@extend .clf
	}
	@extend .standard-page-layout;
	padding-left : 20px;
	padding-top : 40px;
	&.photography{
		padding-top : 20px;
		padding-bottom : 40px;
		img{
			cursor :pointer;
			margin-top : 20px;
		}
	}
	&.video{
		margin-bottom : 40px;
		iframe{
			opacity : 0;
			transition : opacity, 2s;
		}
	}

	&.me #menu{
		li{
			display : inline-block;
		}
	}

	&.me #content{
		padding : 20px 20px 20px 0;
		address, p{
			color : $textColor;
			font-family : "ProximaNovaRegular";
			line-height : 18px;
			a{
				color : $linkColor;
				&:hover{
					color : $linkHoverColor;
				}
			}
		}
		h3{
			padding-bottom : 7px;
			margin-bottom : 7px;
			border-bottom : 1px solid #ccc;
		}
		.resume{
			a{
				color : $linkColor;
				&:hover{
					color : $linkHoverColor;
				}
			}
			p{
				margin : 0px;
			}
			ul{
				padding-left : 15px;
				color : $textColor;
				font-family : "ProximaNovaRegular";
				line-height : 18px;
			}
			h6{
				margin : 0px;
				font-weight : 400;
				letter-spacing : 0.5px;
			}
		}
		.contact{
			textarea{
				width : 100%;
				height : 300px;
			}
			.send{
				position : relative;
				margin-top : 13px;
				width : 75px;
				height : 17px;
			}
		}
	}
}

#gmap{
	height : 600px;
	.map-info{
		margin : 19px 0 19px 19px;
		.map-info-details{
			width: 320px;
			.map-info-header{
				border-bottom: 1px solid #AAAAAA;
				position :relative;
				&:after{
					content : " ";
					clear : both;
					display : block;
				}
				.map-info-title {
					float : left;
				    font-family : Helvetica;
				    font-size : 18px;
				    margin-bottom : 5px;
				    margin-top : 10px;
				    text-transform : uppercase;
				    max-width : 190px;
				}
				.map-info-place{
					@extend .map-info-title;
					float : right;
					font-size : 10px;
					line-height : 20px;
					text-transform : none;
					position : absolute;
					bottom : 0px;
					right : 0px;
				}
			}
			.map-info-excerpt{
				margin : 4px 0;
				font-family : Trebuchet MS;
			}
		}
	}
}

.home{
	.headline{
		font-family : HelveticaNeueLTPro35Thin;
		text-align : center;
		padding:0px;
		overflow : hidden;
		background : #333;
		transition : all 1.8s;
		color : $orangeyellow;
		background : url("../images/default/dark_brick_wall.png");
		&.onair{
			color : #fff !important;
			a{
				display : block;
				margin: 40px auto;
				opacity : 0.7;
				width : 80px;
				&:hover{
					opacity : 1;
				}
			}
		}
		& > *{
			text-shadow : 1px 1px 1px #000;
		}
		h3{
			font-size : 30px;
			text-transform : uppercase;
			font-weight : 100;
			margin-top : 0px;
			padding-top  :80px;
		}
		.excerpt{
			 color : #575757;
			 font-family : futura;
			 line-height : 24px;
			 margin : 0 auto;
			 width : 368px;
		}
		.ticker{
			ul{
				font-family : HelveticaNeueLTPro35Thin;
				font-size : 25px;
				margin-top: 24px;
				color : #696969;
				li{
					list-style : none;
					display : inline-block;
					margin:0 10px;
					&.d{
						font-size : 60px;
						color : #ccc;
						box-shadow : 0 0 6px 1px #000 inset;
						line-height : 100px;
						margin-bottom : 30px;
						padding : 15px 35px 0;
					}
				}
			}
		}
		p{
			 margin-bottom : 80px;
		}
		.headline-movie{
			height: 480px;
			overflow: hidden;
			position: relative;
			z-index: 9;
			video{
				width: 100%;
				transform: translateY(-15%);
				position: fixed;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}
	}
	.story{
		//background : url("../images/default/brickwall.png");
		//box-shadow : 0 0 12px -5px #000;
		background: #fff;
		position: relative;
		z-index: 9;
		ul{
			li{
				padding : 20px;
				float : left;
				color : #000;
				list-style : none;
				cursor : pointer;
				text-transform : uppercase;
				//text-shadow : 0 1px 1px #000;
				&:hover{
					color : $orangeyellow;
				}
				&.active-tab{
					color : $orangeyellow;
					background: none;
					//box-shadow : 0 -3px 4px -2px #000000;
					//background : url("../images/default/brickwall.png");
				}
			}
		} 
		.story-content{
			.story-listitem-container{
				//box-shadow : 0 0 7px 0 #000;
				padding : 50px 0 0;
				border-top: 1px solid #ccc;
				//background : url("../images/default/brickwall.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
				&:nth-child(odd){
					
				}
				/*.story-telling{
					display : none;
					padding-top : 20px;
					padding-bottom : 50px;
					box-shadow : 0 0 6px -2px #000 inset;
				}*/
				.story-listitem{
					padding-bottom : 50px;
					& > *{
						float : left;
					}
					.story-item-img{
						box-shadow : 0 0 2px 0 #000;
						height : 200px;
						max-width : 300px;
						width : 100%;
					}
					.story-item-title{
						margin-bottom : 20px;
						text-transform : uppercase;
						//text-shadow : 0 1px 1px #000;
					}
					.story-item-detial{
						margin-left : 30px;
						height : 200px;
						min-width : 320px;
						position : relative;
						width : 50%;
						max-width : 550px;
					}
					.story-item-excerpt{
						box-shadow : 0 0 5px -4px #000 inset;
						height : 70px;
						padding : 20px;
					}
				}
			}
			.pure-button{
				position : absolute;
				bottom : 0px;
			}
		}
	}
	.homeblocks{
		background : none;
		position : relative;
		transition : all 1.5s;
		border-top : 1px solid #ccc;
		ul{
			text-align : center;
			display : block;
			background : rgba(0,0,0,1);
			transition : all 1.5s;
			position : relative;
			z-index : 1;
			li{
				cursor : pointer;
				display : inline-block;
				font-family : verdana;
				height : 14px;
				line-height : 19px;
				padding : 20px 60px;
				text-align : center;
				text-transform : capitalize;
				background : #efefef;
				&.active{
					background : #fff;
					border : 1px solid #ccc;
					border-bottom : 1px solid #fff;
					border-top : none;
				}
			}
		}
		.phin-content{
			position : relative;
			top : -1px;
			z-index : 0;
			clear : both;
			border-top : 1px solid #ccc;
			padding-top : 20px;
			padding-bottom : 20px;
			&>div:after{
				@extend .clf;
			}
			&>div:before{
				@extend .clf;
			}
			&>div{
				max-width : 960px;
				width : 100%;
				margin : 0 auto;
				transition : all 0.5s;
				.phin{
					padding-bottom : 20px;
					border-bottom : 1px solid #ccc;
					margin-left  : 20px;
					margin-right : 20px;
					&:last-child{
						border-bottom : none;
					}
					h4{
						float : left;
						font-weight : 100;
						font-family : futura;
						letter-spacing : 1.5px;
						text-transform : uppercase;
					}
					.coordinate{
						float : right;
						margin : 1.33em 0;
						color : #888;
						font-size : 12px;
						line-height : 33px;
						text-transform : capitalize;
					}
					.img{
						clear : both;
						margin : 0 auto;
						margin-bottom : 15px;
						max-width : 960px;
						width : 100%;
						position : relative;
						span{
							border-color : #fff #000 #fff #fff;
							border-style : solid;
							border-width : 12px;
							height : 0;
							width : 0;
							top : 55px;
							position : absolute;
							text-indent : -9999px;
							cursor : pointer;
							opacity : 0.5;
							&.next{
								border-color : #fff #fff #fff #000;
								right : -37px;
							}
							&.prev{
								left : -37px;
							}
						}
						> div{
							position : relative;
							left : -5px;
							img{
								height : 148px ;
							}
						}
					}
				}
			}
			&>div.active{
				display : block;
			}
			&>div.inactive{
				display : none;
			}	
		}
	}

	.story-telling{
		position : fixed;
		height : 100%;
		background : rgba(255,255,255,1);
		left : 0px;
		top : 0px;
		display : none;
		color : #000;
		z-index : 9;
		.story-top{
			width : 100%;
			font-size : 60px;
			background : #000;
			padding : 40px 60px;
			font-family : "Helvetica Neue";
			font-weight : 100;
			letter-spacing : 1px;
			box-sizing : border-box;
			color : #fff;
			.story-header{
				float : left;
			}
		}
		.story-player{
			float : left;
		}
		.close-btn{
			float : right;
			cursor : pointer;
			line-height : 70px;
		}
		.story-telling-gallery{
			clear : both;
		}
		.story-telling-content{
			line-height : 30px;
			width : 100% !important;
			height : 600px;
			overflow : auto;
			.jspContainer{
				width : 100% !important;
			}
			.story-telling-padding{
				padding : 40px 60px;
			}
		}
	}
}

.chart rect{
	stroke : white;
	fill : steelblue;
}